:root {
	--transparent: rgba(255, 0, 0, 0);
	--red: #e32525;
  --primaryBlue: #11579c;
	--black-1: #646681;
	--black-2: #112A46;
	--palete1: #fefcfb;
	--bg-2: #ecedf6;
	--palete2: #1282a2;
	--palete3: #034078;
	--palete4: #001f54;
	--palete5: #0a1128;
	--bg-1: #f8f8ff;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}

html {
  font-size: 10px;
}

body {
	background: rgba(10, 17, 40, 1);
	background: -moz-linear-gradient(45deg, rgba(10, 17, 40, 0.9) 0%, rgba(10, 17, 40, 1) 100%);
	background: -webkit-linear-gradient(45deg, rgba(10, 17, 40, 0.9) 0%, rgba(10, 17, 40, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(10, 17, 40, 0.9) 0%, rgba(10, 17, 40, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(10, 17, 40, 0.9) 0%, rgba(10, 17, 40, 1) 100%);
	background: linear-gradient(45deg, rgba(10, 17, 40, 0.9) 0%, rgba(10, 17, 40, 1) 100%);
	background-size: 400% 400%;
	-webkit-animation: errorBg 55s ease infinite;
	-moz-animation: errorBg 55s ease infinite;
	animation: errorBg 55s ease infinite;
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,0.9);
  font-family: 'Lato', sans-serif;
	width: 100%;
	min-height: 100vh;
}

@-webkit-keyframes errorBg {
	0% {
			background-position: 93% 0%
	}
	50% {
			background-position: 0% 100%
	}
	100% {
			background-position: 93% 0%
	}
}

@-moz-keyframes errorBg {
	0% {
			background-position: 93% 0%
	}
	50% {
			background-position: 0% 100%
	}
	100% {
			background-position: 93% 0%
	}
}

@keyframes errorBg {
	0% {
			background-position: 93% 0%
	}
	50% {
			background-position: 0% 100%
	}
	100% {
			background-position: 93% 0%
	}
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
